body {
	text-align:center;
}
#task {
	width:80%;
	height:100px;
}
.action {
	width:30%;
	height:50px;
	margin:10px;
}
#task-mode {
	display:none;
}
#postpone-options {
	display:none;
}

.timeout {
	background-color:#f00;
	color:#fff;
}
#done, #cancel {
	height:50px;
	width:30%;
}
#mode-switch {
	position:absolute;
	top:0;
	left:10px;
}
#open-popup {
	position:absolute;
	top:95%;
	left:10px;
}
#progress {
	background-color:#f1632a;
	height:100%;
	width:0;
	position: absolute;
	top:0;
	left: 0;
	z-index: -10;
}

#pomodoro-mode {
	display: none;
}
#cancel {
	display: none;
}